<head>
    <title>widgets repository links</title>
</head>
<body>
    <p></p><a href="https://github.com/Vendicated/DiscordWidgets">
        Original vendicated's discord widget repository
    </a>    
    <p></p><a href="https://widgets.vendicated.dev/">
        Original vendicated's discord widget website
    </a>
    <p></p><a href="https://github.com/Vendicated/DiscordWidgets">
        modified handlarz's discord widget repository
    </a>   
    <p></p><a href="https://widgets.vendicated.dev/">
        modified handlarz's discord widget website
    </a>
</body>
<style>
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        background: #36393e;
        margin: 2em;

        font-size: xx-large;
        color: #ffffff;
        width: 87.50vw;
        text-align: center;
    }

    a {
        color: #0099ff;
    }
</style>